{% extends "./template.html" %}

{% block title %} Gestión de conexion {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editConnection/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtClient_id" name="txtClient_id" value="{{connection.client_id}}" class="form-control" placeholder="Id-cliente"
                            minlength="3" maxlength="3" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtBroker_ip" name="txtBroker_ip" value="{{connection.broker_ip}}" class="form-control" placeholder="Broker"
                            value="181.47.10.131" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numPort" name="numPort" value="{{connection.port}}" class="form-control" min="1" max="20000"
                            value="1883" required>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtTopic" name="txtTopic" value="{{connection.topic}}" class="form-control" placeholder="Topic"
                          value="sensores/nodo_10" maxlength="60" required>
                    </div>
                    <div class="form-group">
                    <input type="text" id="txtUsername" name="txtUsername" value="{{connection.username}}" class="form-control" placeholder="Usuario"
                        value="emqx" maxlength="30" required>
                    </div>
                    <div class="form-group">
                    <input type="text" id="txtPassword" name="txtPassword" value="{{connection.password}}" class="form-control" placeholder="Password"
                        value="public" maxlength="30" required>
                    </div>
                    <div class="form-group">
                    <input type="text" id="txtMessage" name="txtMessage" value="{{connection.message}}" class="form-control" placeholder="Mensaje"
                        maxlength="60" readonly>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}